html, body {
    min-width: 320px;
    height: 100%;
    width: 100%;
}

body {

}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}